<div class="card m-3" style="min-width: 18rem; max-width: 30.5%;">

    <div class="card-header">
        <label> @Employee.FirstName @Employee.LastName </label>
        <button class="btn btn-sm btn-danger float-right" @onclick="OnDeleteClick">
            <i class="far fa-trash-alt fa-sm" aria-hidden="true"></i>
        </button>
    </div>

    <img class="card-img-top imageThumbnail" src="@Employee.Photo" />

    @if (DisplayFooter)
    {
        <div class="card-footer text-center">
            <a href="/employee/@Employee.Id" class="btn btn-sm btn-primary m-1"> 
                <i class="fas fa-info fa-sm" aria-hidden="true"/> View 
            </a>
            <a href="/employee/@Employee.Id/edit" class="btn btn-sm btn-secondary m-1">
                <i class="fas fa-user-edit fa-sm" aria-hidden="true" /> Edit
            </a>
        </div>
    }

</div>

<ConfirmDialog 
    @ref="ConfirmModal"
    Title="Confirm"
    Message="Are you sure you want to delete this employee?"
    ConfirmBtn="Yes"
    CancelBtn="No"
    ConfirmCallback="OnDialogConfirm"
/>