@page "/"

<h4>Employee List</h4>

<input type="checkbox" id="showFooter" @bind="DisplayFooter" />
<label> Show actions </label>

@if (Employees == null)
{
    <div class="fixed-center spinner-border text-primary"></div>
}
else if(Employees.Count() == 0)
{
    <div class="alert alert-info text-center" role="alert">
        <span class="oi oi-info"> There are no employees. </span>
    </div>
}
else
{
    <div class="card-deck">
        @foreach (var employee in Employees)
        {
            <EmployeeListItem 
                Employee="@employee"
                DisplayFooter="@DisplayFooter"
                OnEmployeeDelete="DeleteEmployee"
            />
        }
    </div>
}