<div class="top-row navbar navbar-dark">
    <a class="navbar-brand" href="">Employee Manager</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">

        <AuthorizeView>
            <Authorized>
                <li class="nav-item">
                    <NavLink href="/" class="nav-link" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Employees
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="/employee/new" class="nav-link" Match="NavLinkMatch.All">
                        <span class="oi oi-plus" aria-hidden="true"></span> Add employee
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="/databinding" class="nav-link" Match="NavLinkMatch.All">
                        <span class="oi oi-info" aria-hidden="true"></span> Data-binding
                    </NavLink>
                </li>
                <li class="nav-item border-top">
                    <NavLink href="/identity/account/logout" class="nav-link" Match="NavLinkMatch.All">
                        <span class="oi oi-power-standby" aria-hidden="true"></span> Logout
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>

                <li class="nav-item">
                    <NavLink href="/identity/account/login" class="nav-link" Match="NavLinkMatch.All">
                        <span class="oi oi-lock-locked" aria-hidden="true"></span> Login
                    </NavLink>
                </li>

            </NotAuthorized>
        </AuthorizeView>
 
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
