<div class="top-row navbar navbar-dark">
    <a class="navbar-brand" href="">Employee Manager</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">

        <AuthorizeView>
            <Authorized>
                <li class="nav-item">
                    <NavLink href="/" class="nav-link" Match="NavLinkMatch.All">
                        <i class="fas fa-home" aria-hidden="true"></i> Employees
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="/employee/new" class="nav-link" Match="NavLinkMatch.All">
                        <i class="fas fa-user-plus" aria-hidden="true"></i> Add employee
                    </NavLink>
                </li>
                <li class="nav-item border-top">
                    <a href="/identity/account/logout" class="nav-link">
                        <i class="fas fa-sign-in-alt" aria-hidden="true"></i> Logout
                    </a>
                </li>
            </Authorized>
            <NotAuthorized>

                <li class="nav-item">
                    <a href="/identity/account/login" class="nav-link">
                        <i class="fas fa-sign-in-alt" aria-hidden="true"></i> Login
                    </a>
                </li>

            </NotAuthorized>
        </AuthorizeView>
 
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
